.#{dashboard}{
    &-header{
        &-menu{
            background-color: #0000ff;
            width: 48px;
            border-left: 1px solid #0000ff;
            border-right: 1px solid #0000ff;
            border-bottom: 48px solid #0000ff;
        }
    }
}